.best-match-container {
  flex-basis: 19rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #2a2a2a;
  overflow-y: auto;
}

.best-match-container > strong {
  flex-basis: 100%;
  color: white;
  font-weight: 500;
  margin: 1rem;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.best-match {
  display: flex;
  flex-basis: 100%;
  min-height: 2.5rem;
  align-items: center;
  background-color: #353434;
}

.best-match-name-and-icon-hover-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.best-match-name-and-icon-hover-container:hover {
  background-color: #5f5f5f;
}

.best-match > div {
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.best-match-icon {
  margin: 0 1rem;
}

.best-match-name {
  flex-grow: 1;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}

.best-match-type,
.best-match-last-modified {
  color: lightgray;
  font-weight: 100;
  text-transform: capitalize;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.relavant-searches {
  width: 100%;
}

.relavant-search {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 100;
}

.relavant-search:hover > div {
  background-color: #353434;
}
.relavant-search:hover > .show-more-info,
.best-match:hover > .show-more-info {
  border-left: 1px solid black;
}

.relavant-searches > strong {
  display: block;
  color: white;
  font-weight: 500;
  padding: 0.5rem 0;
  margin-left: 0.75rem;
  font-size: 0.9rem;
}

.name-and-icon-hover-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0.15rem 0;
  box-sizing: border-box;
}

.name-and-icon-hover-container:hover {
  background-color: #5f5f5f !important;
}

.relavant-search-icon {
  min-width: 40px;
  height: 2rem;
}

.relavant-search-name {
  flex-grow: 1;
  font-size: 0.9rem;
}

.show-more-info {
  min-width: 2.75rem;
  align-self: stretch;
}

.show-more-info:hover {
  background-color: #5f5f5f !important;
}
