.fx-folder-contents {
  box-sizing: border-box;
  border-left: 2px solid #2e2e2e;
  box-shadow: -1.5px 0px 0px 0px#131313;
  overflow-x: auto;
  z-index: 2;
  height: 100%;
  background-color: #202020;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 10rem;
  width: auto;
  position: relative;
}

.column-headings {
  height: 1.5em;
  display: flex;
  margin-bottom: 0.5rem;
  min-width: fit-content;
}
