.fx-folder-contents {
  flex-grow: 1;
  align-self: stretch;
  box-sizing: border-box;
  border-left: 1px solid #2e2e2e;
  height: 70%;
}

.column-headings {
  /* outline: 1px solid gray; */
  height: 1.5em;
  display: flex;
  margin-bottom: 0.5rem;
}

.fso-list-item {
  height: 1rem;
  color: white;
  font-size: 0.7rem;
  font-weight: 100;
  padding-left: 0.5rem;
}
