.thumbnail-previews {
  position: absolute;
  bottom: 2.75rem;
  width: fit-content;
  z-index: 1000;
  display: flex;
}

.thumbnail-preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  background-color: hsla(0, 0%, 20%, 0.8);
  box-sizing: border-box;
}

.thumbnail-title {
  min-width: 0rem;
  width: 0px;
  flex-grow: 1;
  max-width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  height: 2.25rem;
  color: white;
  font-weight: 100;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.thumbnail-close {
  width: 2.25rem;
  height: 2.25rem;
  visibility: hidden;
}

.thumbnail-close:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.thumbnail-preview:hover .thumbnail-close {
  visibility: visible;
}

.thumbnail-preview:hover {
  background-color: hsla(0, 1%, 37%, 0.8);
}

.thumbnail-title > :first-child {
  margin: 0 0.5rem;
}

.thumbnail-content {
  flex-basis: 100%;
  height: calc(100% - 2.25rem);
  padding: 0.5rem;
  padding-top: 0px;
  box-sizing: border-box;
}

.thumbnail-content > img {
  max-width: 13rem;
  max-height: 10rem;
  height: 100%;
  object-fit: contain;
}
