.context-menu-item {
  position: relative;
  padding: 0.1rem 0.1rem 0.1rem 0.05rem;
  cursor: pointer;
  display: flex;
  height: 1.25rem;
}

.cm-item-icon {
  flex-basis: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 0.25rem;
}

.cm-item-icon > svg {
  width: 0.75rem;
  height: 0.75rem;
}

.cm-item-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cm-item-expand {
  flex-basis: 0.5rem;
}

.cm-checkbox-name:hover,
.cm-checkbox:hover {
  background-color: #91c9f7;
}

.cm-checkbox-checked {
  background-color: #56b0fa;
}
