.context-menu-item {
  position: relative;
  padding: 0rem 0.05rem 0rem 0.05rem;
  cursor: pointer;
  display: flex;
  height: 1.5rem;
}

.cm-item-icon {
  flex-basis: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 0.25rem;
}

.cm-item-icon > svg {
  flex-grow: 1;
  height: 0.75rem;
}

.cm-item-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cm-item-expand {
  flex-basis: 0.5rem;
}

.cm-checkbox-checked {
  background-color: #56b0fa;
}

.context-menu-devider {
  box-sizing: border-box;
  height: 1px;
  background-color: gray;
  margin: 0.15rem 0.3rem;
}
