.folder-navigation-branch {
  width: 100%;
  box-sizing: border-box;
  height: 1.25rem;
  color: white;
  font-size: 0.75rem;
  font-weight: 100;
}

.folder-navigation-branch:hover {
  background-color: #4d4d4d;
}

.branch-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.branch-name svg {
  margin-right: 0.25rem;
  min-width: 0.9rem;
}

.branch-name-input {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font: inherit;
  max-height: 75%;
  padding-right: 0.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.branch-name-input:focus {
  background-color: white;
  color: black;
}
