.fso-list-item {
  display: flex;
  height: 1rem;
  color: white;
  font-size: 0.7rem;
  font-weight: 100;
}

.fso-list-item > div {
  padding: 0 0.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation-pane-and-folder-contents-container {
  height: calc(100% - 1.25rem - 5.25rem - 2.25rem);
  width: 100%;
  position: relative;
  display: flex;
}
