.navigation-pane-and-folder-contents-container {
  flex-grow: 1;
  display: flex;
  min-height: 0px;
  height: 100%;
}

.item-count {
  padding-left: 0.5rem;
}

.file-explorer-window-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0px;
  height: 100%;
}
