.apps-or-files-search-result {
  flex-grow: 1;
  width: 19rem;
  margin: 0.75rem;
  margin-bottom: 0rem;
  background-color: #1b1a19;
}

.basic-app-or-file-info {
  text-align: center;
  border-bottom: 2px solid #a4a3a3;
  padding-bottom: 2rem;
}

.app-or-file-icon {
  margin-top: 1.5rem;
}

.app-or-file-name {
  margin-top: 1rem;
  color: white;
}

.app-or-file-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.app-or-file-actions {
  margin-top: 1rem;
}

.app-or-file-type {
  color: lightgray;
  font-weight: 100;
  font-size: 0.8rem;
  margin-top: 0.35rem;
  text-transform: capitalize;
}

.aditional-file-info {
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #a4a3a3;
}

.file-location,
.file-last-modified {
  display: flex;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.file-location > div:first-child,
.file-last-modified > div:first-child {
  flex-basis: 35%;
}

.file-location > div:last-child {
  flex-grow: 1;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  text-decoration: underline;
  color: lightgray;
}

.file-location > div:last-child:hover {
  color: white;
  cursor: pointer;
}

.app-or-file-actions > div {
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
  color: #ececec;
  font-size: 0.8rem;
  font-weight: 500;
}

.app-or-file-actions > div:hover {
  background-color: #353434;
}

.app-or-file-actions > div > svg {
  width: 1.25rem;
  height: 1.25rem;
  color: gray;
  margin-right: 0.5rem;
}

/* ------------------------WebSearchResuts------------------------ */

.web-search-result-skeleton {
  position: relative;
}

.skeleton-animation {
  position: absolute;
  top: 0;
  left: -5rem;
  width: 0rem;
  height: 100%;
  background-color: #11100f50;
  box-shadow: -3px -3px 75px 75px #11100f36;
  filter: blur(10px);
  animation: test 2s linear infinite;
}

.web-search-result-skeleton > div {
  border-radius: 0.1rem;
}

.skeleton-title {
  background-color: #353434;
  height: 1.75rem;
}

.skeleton-url {
  width: 50%;
  background-color: #353434;
  height: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.skeleton-description > div {
  background-color: #353434;
  height: 0.75em;
  margin-top: 0.5rem;
  border-radius: 0.1rem;
}

.web-search-results {
  flex-grow: 1;
  width: 19rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  max-height: 100%;
  flex-wrap: wrap;
  overflow-y: hidden;
  padding: 0.5rem 0;
  padding-bottom: 4rem;
}

.web-search-results:hover {
  overflow-y: overlay;
}

.web-search-result,
.web-search-result-skeleton {
  flex-basis: 100%;
  background-color: #1b1a19;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin: 0.25rem 0.75rem;
  min-width: 0px;
}

.result-title {
  color: #7bbcf0;
  font-weight: 500;
  font-size: 1.1rem;
}

.result-title:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #7bbcf0;
}

.result-url {
  color: #8bab99;
  font-size: 0.9rem;
  border-bottom: 1px solid #484644;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.result-description {
  color: #edebe9;
  font-size: 0.9rem;
}

.microsoft-copyright {
  flex-grow: 1;
  color: #ececec;
  font-size: 0.8rem;
  margin: 0 0.75rem;
  margin-top: 0.25rem;
  padding-top: 0.75rem;
  border-top: 1px solid #484644;
}

.open-in-browser {
  background-color: #31302f;
  border: none;
  color: #ececec;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
  position: absolute;
  bottom: 1rem;
}

.open-in-broswer:hover {
  background-color: #404040;
}

.open-in-browser > svg {
  margin-right: 0.5rem;
}

@keyframes test {
  50% {
    left: 100%;
  }
  100% {
    left: 150%;
  }
}
