.context-menu,
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #2b2b2b;
  color: #f8f8f8;
  font-weight: 100;
  border: 1px solid #919191;
  width: 13rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-size: 0.75rem;
}
