.video-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
}

.video {
  max-width: 100%;
  max-height: 100%;
}

.video-name {
  color: white;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 100;
}
