.video-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
}

.video {
  max-width: 100%;
  max-height: 100%;
}

.video-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 1;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.playback-bar {
  flex-basis: 100%;
  padding: 0 0.75rem;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.watched-time,
.remaning-time {
  color: white;
  width: 50%;
  display: inline-block;
  font-size: 0.8rem;
}

.remaning-time {
  text-align: right;
}

.video-main-controls {
  flex-grow: 1;
}

.video-controls-btn {
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-overlay {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7147233893557423) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
}
