.taskbar {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 204, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
}

.start-and-serch {
  flex-basis: 20%;
  display: flex;
}

.start {
  flex-basis: 3rem;
}

.windows-search {
  flex-grow: 1;
  position: relative;
}

.search-icon {
  position: absolute;
  height: 100%;
  color: white;
  left: 15px;
  font-size: 1.05rem;
}

.search-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(152, 252, 252, 0.233);
  border: 1px solid rgba(255, 255, 255, 0.288);
  padding-left: 3rem;
  caret-color: white;
  line-height: 2rem;
  font-size: 1.15rem;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
  font-weight: 100;
  user-select: none;
}

.search-input:hover {
  border-width: 2px;
  padding-left: calc(3rem - 1px);
}

.search-input:focus {
  outline: none;
  background-color: white;
  color: black;
  caret-color: black;
}

.search-input:focus::placeholder {
  color: black;
  opacity: 1;
  font-weight: 400;
}
