.fx-navigation-bar {
  flex-basis: 2.25rem;
  min-height: 2.25rem;
  color: white;
  background-color: #191919;
}

.buttons-navigation {
  min-width: 5.75rem;
}

.buttons-navigation > div {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-navigation > div:last-child {
  justify-content: unset;
  margin-left: 0.25rem;
}

.buttons-navigation > div:hover:not(:last-child) {
  color: #3298fe;
}

.fx-navigation-bar input {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: 1px solid #535353;
  flex-grow: 1;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 100;
  font-size: 0.75rem;
}

.address-bar {
  outline: 1px solid #535353;
  justify-content: flex-start;
  height: 70%;
  min-width: 13rem;
  flex-grow: 1;
  position: relative;
}

.folder-icon {
  padding-left: 0.25rem;
}

.address-bar input {
  outline: none;
  padding-left: 0.25rem;
  padding-right: 1.75rem;
}

.refresh-folder-view {
  height: 100%;
  position: absolute;
  right: 0.5px;
  width: 1.6rem;
}

.refresh-folder-view:hover {
  box-sizing: border-box;
  border: 1px solid #227299;
  background-color: rgba(34, 113, 153, 0.2);
}

.file-search-box {
  height: 70%;
  min-width: 5.25rem;
  position: relative;
  margin: 0 0.75rem;
}

.resize-search-box {
  position: absolute;
  left: -0.35rem;
  width: 0.35rem;
  height: 100%;
  cursor: e-resize;
}

.file-search-box > input {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.file-search-box > svg {
  position: absolute;
  left: 0.5rem;
}

#remove {
  position: absolute;
  left: initial;
  right: 0.05rem;
  width: 1.45rem;
  height: 1.45rem;
}

#remove:hover {
  background-color: rgba(211, 211, 211, 0.35);
}

.disabled,
.disabled:hover {
  color: #8c8c8c !important;
}
