.title-bar {
  min-height: 1.75rem;
  display: flex;
}

.aplication-icon {
  width: 1.5rem;
}

.aplication-name {
  flex-grow: 1;
  color: inherit;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.window-controls {
  min-width: 7.75rem;
  display: flex;
  justify-content: flex-end;
}

.window-controls > div {
  flex-grow: 1;
}

.window-controls > div:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.window-controls > div:last-child:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}
