.command-prompt-container {
  flex-grow: 1;
  min-height: 0px !important;
  height: 0px;
  width: 100%;
  overflow-y: scroll;
  color-scheme: dark;
}

.command-prompt {
  width: 100%;
  min-height: 100% !important;
  height: fit-content;
  overflow: visible !important;
  background-color: black !important;
  border-radius: 0px !important;
}

.command-prompt * {
  font-family: Consolas !important;
  font-weight: 100 !important;
}

.command-prompt-content {
  background-color: black;
  padding: 0.25rem !important;
  color: rgba(192, 192, 192) !important;
}

.command-prompt-input {
  color: rgba(192, 192, 192) !important;
}

.command-prompt-label {
  color: inherit !important;
}
