.taskbar,
.taskbar-vertical {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 204, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  min-height: 2.75rem;
  min-width: 4.25rem;
}

.taskbar-resize {
  position: absolute;
  z-index: 1;
}

.start-and-search,
.start-and-search-vertical {
  flex-basis: 20%;
  display: flex;
}

.start {
  flex-basis: 3rem;
}

.windows-search {
  flex-grow: 1;
  position: relative;
}

.search-icon {
  position: absolute;
  height: 100%;
  color: white;
  left: 15px;
  font-size: 1.05rem;
}

.search-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(152, 252, 252, 0.233);
  border: 1px solid rgba(255, 255, 255, 0.288);
  padding-left: 3rem;
  caret-color: white;
  line-height: 2rem;
  font-size: 1.15rem;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
  font-weight: 100;
  user-select: none;
}

.search-input:hover {
  border-width: 2px;
  padding-left: calc(3rem - 1px);
}

.search-input:focus {
  outline: none;
  background-color: white;
  color: black;
  caret-color: black;
}

.search-input:focus::placeholder {
  color: black;
  opacity: 1;
  font-weight: 400;
}

.app-shortcuts {
  flex-grow: 1;
}

.system-tray,
.system-tray-vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

.system-tray > div,
.system-tray-vertical > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 2.75rem;
  color: white;
}

.language,
.current-date,
.language-vertical,
.current-date-vertical {
  width: fit-content !important;
  font-size: 0.85rem;
  font-weight: 100;
  padding-left: 0.5rem;
}

.windows-notifications {
  width: 3rem !important;
}

.current-date {
  padding-left: 0.75rem;
}

.taskbar-vertical {
  flex-direction: column;
}

.start-and-search-vertical {
  flex-basis: 6rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.system-tray-vertical {
  flex-direction: column;
}

.system-tray-vertical > div {
  min-width: 100%;
  height: 2rem;
  padding-left: 0;
}

.current-date-vertical,
.windows-notifications-vertical {
  height: 2.75rem !important;
}
