.taskbar,
.taskbar-vertical {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  min-height: 2.75rem;
  min-width: 4.25rem;
}

.taskbar-resize {
  position: absolute;
  z-index: 1;
}

.start-and-search,
.start-and-search-vertical {
  flex-basis: 22rem;
  display: flex;
}

.start {
  flex-basis: 3rem;
}

.windows-search-bar {
  flex-grow: 1;
  position: relative;
}

.search-icon {
  position: absolute;
  height: 100%;
  color: white;
  left: 15px;
  font-size: 1.05rem;
}

.search-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(152, 252, 252, 0.233);
  border: 1px solid rgba(255, 255, 255, 0.288);
  padding-left: 3rem;
  caret-color: white;
  line-height: 2rem;
  font-size: 1.15rem;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
  font-weight: 100;
  user-select: none;
}

.search-input:hover {
  border-width: 2px;
  padding-left: calc(3rem - 1px);
}

.search-input:focus {
  outline: none;
  background-color: white;
  color: black;
  caret-color: black;
}

.search-input:focus::placeholder {
  color: black;
  opacity: 1;
  font-weight: 400;
}

.app-shortcuts {
  flex-grow: 1;
  display: flex;
}

.taskbar-icon {
  position: relative;
  width: 2.75rem;
  height: 100%;
  box-sizing: border-box;
  transition: background 0.02s linear 0.01s;
}

.taskbar-icon > span {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 80%;
  border: 1px solid rgb(127, 255, 202);
  transition: width 0.025s linear;
  z-index: 1;
}

.taskbar-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.taskbar-icon:hover > span {
  width: 100%;
}

.system-tray,
.system-tray-vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

.system-tray > div,
.system-tray-vertical > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 2.75rem;
  color: white;
}

.language,
.current-date,
.language-vertical,
.current-date-vertical {
  width: fit-content !important;
  font-size: 0.85rem;
  font-weight: 100;
  padding-left: 0.5rem;
}

.windows-notifications {
  width: 3rem !important;
}

.current-date {
  padding-left: 0.75rem;
}

.taskbar-vertical {
  flex-direction: column;
}

.start-and-search-vertical {
  flex-basis: 6rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.system-tray-vertical {
  flex-direction: column;
}

.system-tray-vertical > div {
  min-width: 100%;
  height: 2rem;
  padding-left: 0;
}

.current-date-vertical,
.windows-notifications-vertical {
  height: 2.75rem !important;
}
