.notepad-text-content-container {
  flex-grow: 1;
  min-height: 0px !important;
  height: 0px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.notepad-text-content {
  min-width: calc(100% - 0.5rem);
  outline: none;
  border: none;
  width: fit-content;
  max-width: 15517ch;
  font-family: consolas;
  padding-left: 0.25rem;
}

.line-count,
.word-count,
.font-size,
.file-format,
.clrf {
  white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
}

.line-count {
  margin-left: 0.5rem;
  z-index: 1;
}

.word-count {
  padding: 0 2rem 0 0.25rem;
  border-right: 1px solid #dbdbdb;
  z-index: 2;
}

.font-size {
  margin-left: 0.5rem;
  padding-right: 1rem;
  border-right: 1px solid #dbdbdb;
  z-index: 3;
}

.clrf {
  margin-left: 0.5rem;
  padding-right: 1rem;
  border-right: 1px solid #dbdbdb;
  z-index: 4;
}

.file-format {
  margin-left: 0.5rem;
  z-index: 5;
}
