.google {
  box-sizing: border-box;
  flex-grow: 1;
  height: calc(100% - 2rem);
  border: none;
  border: 0;
  left: 0;
  position: absolute;
  top: 2rem;
  width: 100%;
}

.pdf {
  flex-grow: 1;
  width: 100%;
}
