.start-menu {
  position: absolute;
  top: 0rem;
  left: 0;
  width: 20rem;
  height: 0px;
  transition: height 0.2s ease-in, top 0.2s ease-in, visibility 0.05s linear;
  visibility: hidden;
}

.height-animation {
  visibility: visible;
  top: -30rem;
  height: 30rem;
  transition: height 0.2s ease-out, top 0.2s ease-out,
    visibility 0.5s linear 0.15s;
}

.start-menu-sidebar {
  position: absolute;
  width: 3rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  z-index: 2;
  transition: width 0.1s ease-in-out, background 0.1s ease-in-out;
}

.width-animation {
  transition: width 0.1s ease-in-out 0.5s, background 0.1s ease-in-out 0.5s;
  width: 15rem;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.sidebar-expanded .sidebar-list-item {
  justify-content: flex-start;
}

.sidebar-list-item > svg,
.sidebar-list-item > div {
  width: 3rem;
}

.sidebar-list-item {
  color: white;
  display: flex;
  flex-basis: 100%;
  padding: 0.75rem 0;
}

.sidebar-list-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.align-top {
  position: absolute;
  top: 0.25rem;
}

.sidebar-list-item-content {
  max-width: 0px;
  white-space: nowrap;
  flex-grow: 1;
  font-size: 0.85rem;
  font-weight: 100;
  visibility: hidden;
  transition: visibility 0s ease-in-out;
}

.visibility-animation {
  visibility: visible;
  transition: visibility 0.1s ease-in-out 0.5s;
}

.user-icon > div {
  width: 1.25rem;
  height: 1.25rem;

  background-color: gray;
  border-radius: 50%;
}
