.fso-list-item {
  width: 100%;
  height: 1.25rem;
  display: flex;
  align-items: center;
}

.fso-list-item > div {
  line-height: 1.25rem;
  color: white;
  padding: 0 0.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  font-size: 0.7rem;
  font-weight: 100;
}

.fso-list-item > div:first-child {
  position: relative;
  line-height: normal;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: visible;
}

.fso-list-item-icon {
  padding-right: 0.5rem;
}

.fso-list-item-name-input {
  flex-basis: calc(100% - 1.5rem);
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fso-list-item-name-input:focus {
  position: absolute;
  left: 2rem;
  z-index: 10;
  white-space: nowrap;
  overflow: initial;
  text-overflow: initial;
  min-width: fit-content;
  background-color: #202020;
  color: white;
  border: none;
  outline: 1px solid white;
  padding-right: 1rem;
  padding-left: 0.25rem;
  box-sizing: border-box;
}

.fso-list-item:hover {
  background-color: rgba(99, 99, 99, 0.75);
}
