.photos-toolbar {
  flex-basis: 3.25rem;
  width: 100%;
}
.photos-toolbar > div {
  width: 3rem;
  min-height: 3rem;
  color: white;
  height: 1.25rem;
}

.image-container {
  flex-grow: 1;
  height: 0px;
  min-height: 0px;
  min-width: 0px;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 2rem;
  margin-bottom: 2.25rem;
}

.performance-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.performance-wrapper > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.maximise-photos {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  height: 2rem;
}

.maximise-photos:hover,
.photos-toolbar > div:hover {
  background-color: rgba(71, 71, 71, 0.507);
}
