.photos-toolbar {
  flex-basis: 3.25rem;
  width: 100%;
}

.photos-toolbar > svg {
  width: 3rem;
  color: white;
  height: 1.25rem;
}

.image-container {
  flex-grow: 1;
  height: 0px;
  min-height: 0px;
  min-width: 0px;
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 2rem;
  margin-bottom: 2.25rem;
}

.performance-wrapper > img {
  max-width: 100%;
  max-height: 100%;
}
