.desktop {
  flex-grow: 1;
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 0.5rem;
  padding-top: 0.25rem;
  box-sizing: border-box;
  position: relative;
}

.rect-selection {
  position: absolute;
  background-color: rgba(0, 118, 215, 0.466);
  border: 1px solid #0078d7;
}
