.fx-navigation-pane {
  background-color: #191919;
  min-width: fit-content;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}

.folder-navigation-tree {
  width: inherit;
  padding-top: 0.5rem;
}
