.fx-navigation-pane {
  background-color: #191919;
  align-self: stretch;
  min-width: fit-content;
  position: relative;
}

.navigation-pane-resize {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2.5px;
  cursor: w-resize;
}

.folder-navigation-tree {
  padding-top: 0.5rem;
}
